/* src/components/Register.css */

.api-message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.api-message.success {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Verde oscuro */
    border: 1px solid #c3e6cb;
}

.api-message.error {
    background-color: #f8d7da; /* Rojo claro */
    color: #721c24; /* Rojo oscuro */
    border: 1px solid #f5c6cb;
}