/* src/components/validarPassword.css */

#requisitosPassword {
    display: none; /* Ocultar por defecto */
    margin-top: 10px;
    font-size: 14px;
    padding-left: 20px;
}

/* Estilo para el estado inicial/inválido */
.invalido {
    color: #cc0000; /* Rojo */
    font-weight: 500;
}

/* Estilo cuando el requisito se cumple */
.valido {
    color: #008000; /* Verde oscuro */
    font-weight: 500;
    /* Opcional: tachar el requisito cumplido */
    text-decoration: line-through;
    
}